html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #E5E5E5;
    padding-top: 48px;
}

.header-wrapper {
    padding-bottom: 65px;
}

.container {
    max-width: 1012px;
    margin: 0 auto;
}

.nav-wrapper {
    margin-bottom: 78px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    margin-right: 64px;
    display: inline;
}

.nav-list:hover {
    border-bottom: 2px solid #868686;
    transition: 0.2s;
}

.nav-list:last-child {
    margin-right: 0;
}

.nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #868686;
}

.active {
    color: #232323;
}

.nav-logo {
    color: #232323;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.nav-logo-wrapper {
    font-weight: 700;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.content-title {
    margin-bottom: 28px;
    width: 577px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 52px;
    line-height: 69px;

    color: #232323;
}

.content-title-wrapper {
    color: #47C183;
}

.content-title-text {
    margin-bottom: 64px;
    width: 520px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.content-btn {
    margin-right: 56px;
    padding: 28px 67px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    background-color: #232323;
    color: #fff;
}

.content-btn:hover {
    opacity: 90%;
    transition: 0.2s;
}

.content-text {
    display: inline;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    text-decoration-line: underline;

    color: #000000;
}

.content-img {
    margin-left: 83px;
}

.main {
    padding-top: 56px;
}

.main-title {
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 165%;

    text-align: center;

    color: #232323;
}

.main-wrapper {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    padding: 26px 84px 26px 40px;
}

.main-text-wrapper {
    margin-left: 47px;
}

.main-marks {
    position: absolute;
    font-weight: 400;
    font-size: 48px;
    margin-top: -25px;

    color: #868686;
}

.main-text {
    margin-left: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    color: #232323;
}

.main-wrapper-wrapper {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 40px 26px 40px;
}

.main-img {
    margin-left: 45px;
}

.main-title-up {
    margin-top: 56px;
}

.main-wrapper-box {
    padding-bottom: 84px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    width: 623px;
    background-color: #F8F8F8;
    padding: 21px 23px;
}

.main-wrapper-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    color: #232323;
}

.content-text-up {
    margin-bottom: 15px;
}

.main-wrapper-suptext {
    font-weight: 700;
}

.footer-wrapper {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid #F4F4F4;
}

.footer-list {
    display: inline;
    margin-left: 48px;
}

.footer-text {
    width: 194px;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;

    color: #232323;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;

    text-decoration-line: underline;

    color: #868686;

}

.footer-link:hover {
    color: #232323;
    transition: 0.2s;
}